{% extends 'assets/base.html' %}
{% block header-css %}
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/DataTables/datatables.min.css"/>

{% endblock %}


{% load custom_tag %}
{% block page-content-title %}
    {% if not error %}
     资产ID:{{ asset_obj.id  }}|{% if asset_obj.name %}{{ asset_obj.name }}{% else %}{{ asset_obj.sn }}{% endif %}

    {% else %}
     资产不存在！
    {% endif %}

{% endblock %}

{% block page-nav-tab %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'asset_list' %}">资产列表</a></li>
    <li class="active">资产详情</li>
</ol>
{% endblock %}



{% block page-content %}

<div class="tab-base">

    <!--Nav Tabs-->
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#tab-asset-info" aria-expanded="true">资产信息</a>
        </li>
        <li class="">
            <a data-toggle="tab" href="#tab-hardware-info" aria-expanded="false">硬件</a>
        </li>
        <li class="">
            <a data-toggle="tab" href="#tab-Knifebox-info" aria-expanded="false">刀箱详情</a>
        </li>
        <li class="">
            <a data-toggle="tab" href="#tab-contract-info" aria-expanded="false">合同/财务</a>
        </li>
        <li class="">
            <a data-toggle="tab" href="#tab-config" aria-expanded="false">配置</a>
        </li>
    </ul>

    <!--Tabs Content-->
    <div class="tab-content">
        <div id="tab-asset-info" class="tab-pane fade active in">

           <table class=" asset-info-table">
               <tr>
                   <td class="col-md-2 bold">资产类型</td>
                   <td class="col-md-4">: {{ asset_obj.get_asset_type_display }}</td>
                   <td class="col-md-2 bold">运维资产编号</td>
                   <td class="col-md-4">: {{ asset_obj.name }}</td>
               </tr>
               <tr>
                   <td class="col-md-2 bold">IDC</td>
                   <td class="col-md-4">: {{ asset_obj.idc }}</td>
                   <td class="col-md-2 bold">SN</td>
                   <td class="col-md-4">: {{ asset_obj.Sn }}</td>
               </tr>
               <tr>
                   <td class="col-md-2 bold">品牌</td>
                   <td class="col-md-4">: {{ asset_obj.Brand }}</td>
                   <td class="col-md-2 bold">MAC Address</td>
                   <td class="col-md-4">{{ asset_obj.Macinfo }}</td>
               </tr>
               <tr>
                   <td class="col-md-2 bold">型号</td>
                   <td class="col-md-4">:{{ asset_obj.Model }}</td>
                   <td class="col-md-2 bold">服务器配置</td>
                   <td class="col-md-4">: {{ asset_obj.ServerConfig }}</td>
               </tr>
               <tr>
                   <td class="col-md-2 bold">物理机系统</td>
                   <td class="col-md-4">: {{ asset_obj.System }} </td>
                   <td class="col-md-2 bold">Raid卡信息</td>
                   <td class="col-md-4">: {{ asset_obj.RaidInfo}}</td>
               </tr>
               <tr>
                   <td class="col-md-2 bold">机柜</td>
                   <td class="col-md-4">: {{ asset_obj.Cabinet }}</td>
                   <td class="col-md-2 bold">槽位</td>
                   <td class="col-md-4">: {{ asset_obj.Slot }}</td>
               </tr>
               <tr>
                   <td class="col-md-2 bold">TOR机柜</td>
                   <td class="col-md-4">: {{ asset_obj.TorCabinet }}</td>
                   <td class="col-md-2 bold">服务模块</td>
                   <td class="col-md-4">: {{ asset_obj.ServiceModule }}</td>
               </tr>
               <tr>
                   <td class="col-md-2 bold">ilo IP</td>
                   <td class="col-md-4">: {{ asset_obj.ilo }}</td>
                   <td class="col-md-2 bold">SubnetMask</td>
                   <td class="col-md-4">: {{ asset_obj.SubnetMask }}</td>
               </tr>
               <tr>
                   <td class="col-md-2 bold">ilo 网关</td>
                   <td class="col-md-4">: {{ asset_obj.Gateway_ip  }}</td>
                   <td class="col-md-2 bold">带内 IP</td>
                   <td class="col-md-4">:{{ asset_obj.Inband_ip }} </td>
               </tr>
               <tr>
                   <td class="col-md-2 bold">带内IP子网掩码</td>
                   <td class="col-md-4">:{{ asset_obj.Inband_SubnetMask }}</td>
                   <td class="col-md-2 bold">带内网关 IP</td>
                   <td class="col-md-4">: {{ asset_obj.Inband_Gateway_ip }}</td>
               </tr>
               <tr>
                   <td class="col-md-2 bold">BGP IP</td>
                   <td class="col-md-4">: {{ asset_obj.BGP_ip}}</td>
                   <td class="col-md-2 bold">BGP IP子网掩码</td>
                   <td class="col-md-4">: {{ asset_obj.BGP_SubnetMask }}</td>
               </tr>
               <tr>
                   <td class="col-md-2 bold">BGP网关</td>
                   <td class="col-md-4">: {{ asset_obj.BGP_Gateway_ip}}</td>
                   <td class="col-md-2 bold">购买时间-过保修期</td>
                   <td class="col-md-4">: {{ asset_obj.trade_date }} -{{ asset_obj.expire_date }} </td>
               </tr>
               <tr>
                   <td class="col-md-2 bold">资产创建日期</td>
                   <td class="col-md-4">: {{ asset_obj.create_date}}</td>
                   <td class="col-md-2 bold">最近更新日期</td>
                   <td class="col-md-4">: {{ asset_obj.update_date }}</td>
               </tr>
           </table>

    </div>
</div>



{% endblock %}


{% block bottom-js %}
<script type="text/javascript" src="/static/assets/plugins/DataTables/datatables.min.js"></script>


<script type="text/javascript">

    $(document).ready(function(){

            var active_node = $("#mainnav-menu a[href='"+ "{% url 'asset_list' %}" +"']");
            active_node.parent().addClass("active-link");
            if (active_node.parent().parent().hasClass("collapse")){
                active_node.parent().parent().addClass("in");
            }
        $('#event_Knifebox_list').DataTable( {
{#                "bAutoWidth": true,#}
                initComplete: function () {
                    this.api().columns().every( function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );

                        column.data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    } );
                },




                "ajax": "{% url 'asset_Knifebox_logs' asset_obj.id %}",
                "scrollX": true,
                "pagingType": "full_numbers",
                 "stateSave": true,
                "columns": [
{#                    { "data": "id" },#}
                    { "data": "name" },
                    { "data": "Intranet_ip" },
                    { "data": "Outside_ip" },
                    { "data": "memo" },

                ],


            } ); //end datatables




    });//end doc ready


</script>


{% endblock %}
